* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Times New Roman', Serif;
    background: #fff;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    letter-spacing: 5px;
  }

  .footer {
    text-align: left;
    color: #fff;
    font-size: 11px;
    background-color: #060606;
    padding: 50px;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 0px 5px; 
    /* max-width: 1230px; */
    margin: 0 auto;
    padding: 20px 40px ;
  }
  
  .gallery img {
    width: 100%;
    /* max-width: 300px; */
    height: 300px;
    transition: transform .1s;
  }
  
  /* .gallery::after {
    content: "";
    width: 300px;
  } */

  .gallery img:hover {
    transform: scale(1.25);
  }
  
